* {
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
    font-size: 0.9rem;
    margin: 0;
}


h1 {
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 2rem;
}


header {
    width: 100%;
}


body {
    padding-bottom: 35px;
}

.main {
    max-width: 1920px;
}


.half-screen {
    width: 50%;
}


.quarter-screen {
    width: 25%;
}


.red {
    background: red;
}


.green {
    background: green;
}


.blue {
    background: blue;
}


.black {
    background: black;
}


.white {
    background: white;
}


.yellow {
    background: yellow;
}


.flex-div {
    display: flex;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.select-div {
    padding-left: 50px;
    padding-right: 50px;
}


.select-title {
    margin-bottom: 3px;
    font-size: 1.05rem;
}


select {
    border: 2px solid #333;
    box-shadow: 1px 1px 2px grey;
    font-size: 0.85rem;
}


option {
    text-align: left;
}


.image {
    display: block;
    border: 1px solid black;
    box-shadow: 1px 1px 2px grey;
    width: 450px;
    height: 253px;
    padding-bottom: 3px;
}


ul {
    list-style-type: none;
    max-width: 300px;
    padding: 0px;
    border-radius: 7px;
    box-shadow: 1px 1px 2px grey;
}


li {
    box-sizing: border-box;
    text-align: left;
    margin: 0;
    /* margin-left: 5px; */
    padding: 8px;
    /* margin-left: 5px; */
    border: 1px solid black;
}


li:last-child {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}


.list-title {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-weight: bold;
    display: block;
    border: 1px solid black;
    border-bottom: 0px;
    font-size: 1.05rem;
    padding: 7px;
}


.flex-div {
	display: flex;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


.col-flex {
    flex-direction: column;
}


.half-div {
    width: 50%;
}


.button-div {
    margin-top: 7px;
    margin-bottom: 60px;
}


#forecast-button {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1rem;
    width: 210px;
    transition: 0.3s;
    user-select: none;
}


#forecast-button:hover {
    color: white;
    background-color: #222;
    cursor: pointer;
}


#forecast-button:active {
    font-weight: bolder;
    text-shadow: black 1px 1px;
}


#forecast-button[disabled]:hover  {
    color: rgba(70, 70, 70, 0.3);
    background-color: transparent;
    cursor: default;
}


#forecast-button[disabled]:active  {
    font-weight: bold;
    text-shadow: none;
}



.stats-div {
    margin-top: 70px;
}


input[type=checkbox]:checked + span:before {
	background-image: url("./images/chkmrk.svg");
}


.filt_label input {
	margin-top: 1px;
	position: absolute;	
	z-index: -1;
    opacity: 0;
}


.filt_label {
	padding-top: 4px;
	padding-bottom: 1px;
	position: relative;
	display: block;
}


.filt_label:hover {	
	cursor: pointer;
	color: darkorange;
}


.filt_label:hover > span:before {
	border-color: darkorange;
}


.filt_label > span {
    display: inline-flex;
    outline: none;
    user-select: none;
}


.filt_label > span:before {
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    content: '';
    border: 1px solid #aaa;
    width: 14px;
    height: 14px;
    top: -1.5px;
    position: relative;
    margin: 2px 7px 0px 4px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


.geo-iframe {
    width: 450px;
    height: 253px;
}