<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/styles.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap" rel="stylesheet">
    <title>Погода</title>
</head>
<body>
    <div class="center main">
        <h1 data-unsp-sanitized="clean">Погода : прогноз  и анализ</h1>
        <div class="flex-div select-div">
            <div class="half-div">
                <div class="select-title">
                    Выберите город
                </div>
                <select class="center" id="city-select">
                    <option selected value="none">--</option>
                    {% block  city_select %}
                    <option value="Spasyonovsk">Спасёновск</option>
                    <option value="Moscow">Москва</option>
                    <option value="St. Petersburg">Питер</option>
                    {% endblock %}
                </select>
            </div>

            <div class="half-div">
                <div class="select-title">
                    Выберите количество дней
                </div>
                <select class="center" id="days-select">
                    <option selected="" value="none">--</option>
                    <option value="1">1 день</option>
                    <option value="2">2 дня</option>
                    <option value="3">3 дня</option>
                    <option value="4">4 дня</option>
                    <option value="5">5 дней</option>
                    <option value="6">6 дней</option>
                    <option value="7">7 дней</option>
                </select>
            </div>
        </div>

        <div class="flex-div col-flex">
            <div class="details-div checkbox-div center">
                <label class="filt_label"><input id="details-input-cb" type="checkbox" name="detailed-check" value="detailed">
                <span>Отобразить доп. статистику</span>
                </label>
            </div>

            <div class="button-div">
                <button class="center forecast-button" onclick="callForecastHandler()">
                    Сделать прогноз
                </button>
            </div>
        </div>

        {% block forecast_result %}
        {% endblock %}
    </div>
    <script>
         function callForecastHandler() {
            const citySelectElement = document.getElementById('city-select');
            const city = citySelectElement.value;

            const days = document.getElementById('days-select').value;
            const detail = document.getElementById('details-input-cb').checked;

            console.log(city);
            console.log(days);
            console.log(detail);
            
            const query_params = `city=${city}&days=${days}&detail=${detail}`;
            window.location.href = `http://localhost:5000/forecast?${query_params}`;
            return false
         }
    </script>
</body>
</html>