{% extends "base.html" %}

{% block city_select %}
{% for id in id_cities %}
    <option value="{{id}}">{{cities[id]}}</option>
{% endfor %}
{% endblock %}


{% block forecast_result %}
<div class="flex-div">
    <div class="half-div">
        <img id="graph-image" class="center image" src="data:image/jpeg;base64,{{ estimator_graph_base64 | safe}}">
    </div>

    <div class="half-div">
        <iframe class="geo-iframe" src="/get_src" seamless></iframe>
    </div>
</div>

<div class="flex-div stats-div">
    <div class="half-div">
        <ul class="center">
            <span class="list-title">
                {{predictions.city_name}}. Прогноз<br>с {{predictions.start_date}} по {{predictions.end_date}}
            </span>
            {% for i in  predictions.idxs%}
                <li>{{predictions.pred_dates[i]}} <br>
                     дневная : {{predictions.pred_day[i]}} &deg;C <br>
                     вечерняя : {{predictions.pred_evening[i]}} &deg;C</li>
            {% endfor %}
        </ul>
    </div>

    <div class="half-div">
        {% if detailed_stats %}
        <ul class="center">
            <span class="list-title">
                Подробная статистика
            </span>
            {% for stat in detailed_stats %}
                <li>{{stat}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
