{% extends "base.html" %}

{% block city_select %}
{% for city in cities %}
    <option value="{{city}}">{{city}}</option>
{% endfor %}
{% endblock %}


{% block forecast_result %}
<div class="flex-div">
    <div class="half-div">
        <img id="map-image" class="center image" src="data:image/jpeg;base64,{{ geo_painter_graph_base64 | safe}}">
    </div>

    <div class="half-div">
        <img id="graph-image" class="center image" src="data:image/jpeg;base64,{{ geo_painter_graph_base64 | safe}}">
    </div>
</div>

<div class="flex-div stats-div">
    <div class="half-div">
        <ul class="center">
            <span class="list-title">
                Статистика
            </span>
            {% for stat in stats %}
                <li>{{stat}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="half-div">
        {% if detailed_stats %}
        <ul class="center">
            <span class="list-title">
                Подробная статистика
            </span>
            {% for stat in detailed_stats %}
                <li>{{stat}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
